<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav :: nav-front"></nav>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
<div class="container justify-content-center">
    <form method="post" th:object="${tournament}" th:action="@{/tournaments/add}">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" th:field="*{name}" class="form-control">
            <span th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="time">Date and time:</label>
            <input type="datetime-local" id="time" class="form-control" name="tournamentTime">
        </div>

        <div class="row">
            <button class="col-sm-5 btn btn-danger mx-auto">Add</button>
            <a th:href="@{/tournaments}" class="btn col-sm-5 btn-info mx-auto">Return</a>

        </div>
    </form>

</div>


<div th:replace="fragments/footer"></div>


</body>

</html>