<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
<table>
    <thead>
        <th>Quantity</th>
        <th>Unit name</th>
    </thead>
    <tbody>
        <tr th:each="orderedUnit: ${listOfOrderedUnits}">
            <td th:text="*{orderedUnit.numberOfModels}"></td>
            <td th:text="*{orderedUnit.unit.name}"></td>
            <td><a th:href="@{'/roster/edit/' + ${rosterId} + '/editUnit/' + ${orderedUnit.id}}"><button type="button" class="btn btn-info">Edit Unit</button></a></td>
        </tr>

    </tbody>
</table>
<a th:href="@{'/roster/edit/' + ${rosterId} + '/addUnit/'}"><button type="button" class="btn btn-info">Add Unit</button></a>
<a th:href="@{'/roster/'}"><button type="button" class="btn btn-info">Return</button></a>
<div th:replace="/fragments/footer"></div>


</body>

</html>