<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
<div>

    <form method="post" th:object="${unitDetails}" th:action="@{/admin/unit/editUnitDetails}">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            There are errors
        </div>


        <div class="form-group">
            <label for="advanceRate">Advance Rate:</label>
            <input id="advanceRate" type="text" th:field="*{advanceRate}">
        </div>
        <div class="form-group">
            <label for="marchRate">March Rate:</label>
            <input id="marchRate" type="text" th:field="*{marchRate}">
        </div>
        <div class="form-group">
            <label for="discipline">Discipline:</label>
            <input id="discipline" type="text" th:field="*{discipline}">
        </div>
        <div class="form-group">
            <label for="healthPoints">Health Points:</label>
            <input id="healthPoints" type="text" th:field="*{healthPoints}">
        </div>
        <div class="form-group">
            <label for="defensiveSkill">Defensive Skill:</label>
            <input id="defensiveSkill" type="text" th:field="*{defensiveSkill}">
        </div>
        <div class="form-group">
            <label for="armour">Armour:</label>
            <input id="armour" type="text" th:field="*{armour}">
        </div>
        <div class="form-group">
            <label for="agility">Agility:</label>
            <input id="agility" type="text" th:field="*{agility}">
        </div>
        <div class="form-group">
            <label for="attackValue">Attack Value:</label>
            <input id="attackValue" type="text" th:field="*{attackValue}">
        </div>
        <div class="form-group">
            <label for="offensiveSkill">Offensive Skill:</label>
            <input id="offensiveSkill" type="text" th:field="*{offensiveSkill}">
        </div>
        <div class="form-group">
            <label for="strength">Strength:</label>
            <input id="strength" type="text" th:field="*{strength}">
        </div>
        <div class="form-group">
            <label for="armourPenetration">Armour Penetration:</label>
            <input id="armourPenetration" type="text" th:field="*{armourPenetration}">
        </div>
        <div class="form-group">
            <label for="resilience">Resilience</label>
            <input id="resilience" type="text" th:field="*{resilience}">
        </div>

        <input type="hidden" th:field="*{id}" >
        <button class="btn btn-danger mb-5">Edit</button>
        <a th:href="@{/admin/unit}" class="btn btn-info mb-5" >Return</a>
    </form>
</div>


<div th:replace="/fragments/footer"></div>


</body>

</html>