<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
<form method="post" th:object="${orderedUnit}" th:action="@{'/roster/edit/' + ${roster.id} + '/addUnit'}">
    <select  th:name="unitId">
        <option th:each="unit: ${units}"
                th:value="${unit.id}"
                th:text="${unit.name}">
        </option>
    </select>
    <input type="text" th:field="*{numberOfModels}">
    <button class="btn btn-danger mb-5">Add</button>
    <a th:href="@{'/edit/' + ${roster.id}}" class="btn btn-info mb-5" >Return</a>
</form>


<div th:replace="/fragments/footer"></div>


</body>

</html>