<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head"></head>

<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>
<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
<div class="container">


    <table class="table" th:each="roster: ${rosters}">
        <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="*{'roster name: ' + roster.name}"></th>
                <th scope="col" th:if="*{roster.army != null}" th:text="*{'army name: ' + roster.army.name}"></th>
                <th>
                    <a th:href="@{'/roster/edit/' + ${roster.id}}"> <button type="button" class="btn btn-primary">Edit</button></a>
                    <a th:href="@{'/roster/delete/' + ${roster.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                </th>
            </tr>
        </thead>
            <tbody>
                <tr th:each="unit: ${roster.orderedUnits}">
                    <td th:text="*{unit.unit.name}"></td>
                    <td>
                        opcje
                    </td>
                </tr>
            </tbody>
    </table>
    <a href="/roster/add" class="btn btn-primary">Add new roster!</a>
</div>
<div th:replace="/fragments/footer"></div>


</body>

</html>